@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eaeaf3;
}

.swiper-button-next:after,
.swiper-button-prev:after{
    color: rgb(4, 25, 117);
}

html::-webkit-scrollbar{
  display: none;
}